# UC San Diego: Data Science in Practice - Data Checkpoint
### Summer Session I 2023 | Instructor : C. Alex Simpkins Ph.D.

## Power Outages Data Analysis

# Names

- Wenhua Tang
- Qianyu Peng
- Vicky Li
- Yao Liu

<a id='research_question'></a>
# Research Question

* One sentence that describes the question you address in your project. Make sure what you’re measuring (variables) to answer your question is clear!

Is there a significant difference in the number of affected customers when the outage is induced by a disruption in system operability or a disruption in non-system operability?

# Dataset(s)

*Fill in your dataset information here*<br>

- Dataset name: Major Power Outage Risks in the U.S.
- Link to the dataset: https://engineering.purdue.edu/LASCI/research-data/outages/outagerisks
- Number of observations: 1534
- This dataset contains information about significant power outages that occurred in various states across the continental U.S. In addition to the outages, the data includes details about their locations, the weather conditions in those regions, land usage, electricity consumption patterns, and economic information related to the affected states.
- Since this dataset contains the variables we need for the research question, such as "affected customers" and "system operability," we believe it is suitable for our project.

# Data Wrangling

Explain steps taken to pull the data you need into Python.
- First, we downloaded the data from the given url into our local computer
- Then, we imported and installed all necessary packages into the Jupyter Notebook for further use.
- Lastly, we use `pd.read_excel()` to read the data and select only the useful rows from the raw dataset.

In [10]:
# set up
import matplotlib.pyplot as plt 
import numpy as np
import os
import pandas as pd
import seaborn as sns
# !pip install pandas openpyxl

In [11]:
df = pd.read_excel('outage.xlsx') # read data
coloum_name_lst = list(df.iloc[4]) # get the actual column name
coloum_name_lst.remove('variables') # remove unnecessary columns
coloum_name_lst.remove('OBS')
df = df.iloc[6:1539] # select only useful raws 
df.head(5)

,Major power outage events in the continental U.S.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
6,NaN,1,2011,7,Minnesota,MN,MRO,East North Central,-0.3,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
7,NaN,2,2014,5,Minnesota,MN,MRO,East North Central,-0.1,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
8,NaN,3,2010,10,Minnesota,MN,MRO,East North Central,-1.5,cold,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
9,NaN,4,2012,6,Minnesota,MN,MRO,East North Central,-0.1,normal,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743
10,NaN,5,2015,7,Minnesota,MN,MRO,East North Central,1.2,warm,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.592666,8.407334,5.478743

# Data Cleaning

Describe your data cleaning steps here.
- We first dropped the unrelated columns from the dataset
- Then, we got the actual columns from the dataset and replaced the default columns with the desired ones.
- For better analysis, we sorted the dataset by `Year` and then reset the index.

In [12]:
# drop unrelated columns
df = df.drop(
    columns = ['Major power outage events in the continental U.S.','Unnamed: 1'])

#replace default column names with new column names
df.columns = coloum_name_lst 

#sort rows based on years
df = (df.sort_values('YEAR')
      .reset_index()
      .drop(columns = ['index']))

In [13]:
# examine the proportion of missing values in each column
df.isna().mean().head(15)

YEAR                       0.000000
MONTH                      0.005219
U.S._STATE                 0.000000
POSTAL.CODE                0.000000
NERC.REGION                0.000000
CLIMATE.REGION             0.003262
ANOMALY.LEVEL              0.005219
CLIMATE.CATEGORY           0.005219
OUTAGE.START.DATE          0.005219
OUTAGE.START.TIME          0.005219
OUTAGE.RESTORATION.DATE    0.037182
OUTAGE.RESTORATION.TIME    0.037182
CAUSE.CATEGORY             0.000000
CAUSE.CATEGORY.DETAIL      0.307241
HURRICANE.NAMES            0.953033
dtype: float64

Since the missingness in `HURRICANE.NAMES` is approximately 0.96, we have decided not to drop the NaN values.

In [14]:
df

,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,OUTAGE.START.DATE,OUTAGE.START.TIME,...,POPPCT_URBAN,POPPCT_UC,POPDEN_URBAN,POPDEN_UC,POPDEN_RURAL,AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,2000,NaN,North Carolina,NC,SERC,Southeast,NaN,NaN,NaN,NaN,...,66.09,11.21,1367.2,1043.7,73.5,9.48,2.11,90.336127,9.663873,7.52894
1,2000,6,California,CA,WECC,West,-0.7,cold,2000-06-14 00:00:00,13:13:00,...,94.95,5.22,4303.7,2124.1,12.7,5.28,0.59,95.164177,4.835823,1.730658
2,2000,5,Texas,TX,TRE,South,-0.7,cold,2000-05-02 00:00:00,04:00:00,...,84.7,9.35,2435.3,1539.9,15.2,3.35,0.58,97.258336,2.742036,2.090873
3,2000,5,Texas,TX,SPP,South,-0.7,cold,2000-05-24 00:00:00,10:15:00,...,84.7,9.35,2435.3,1539.9,15.2,3.35,0.58,97.258336,2.742036,2.090873
4,2000,3,Texas,TX,TRE,South,-1.1,cold,2000-03-18 00:00:00,16:00:00,...,84.7,9.35,2435.3,1539.9,15.2,3.35,0.58,97.258336,2.742036,2.090873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,2016,7,North Carolina,NC,SERC,Southeast,-0.3,normal,2016-07-07 00:00:00,05:53:00,...,66.09,11.21,1367.2,1043.7,73.5,9.48,2.11,90.336127,9.663873,7.52894
1529,2016,2,New York,NY,NPCC,Northeast,2,warm,2016-02-07 00:00:00,11:30:00,...,87.87,5.21,4161.4,1700,54.6,8.68,1.26,86.38255,13.61745,3.645862
1530,2016,5,New York,NY,NPCC,Northeast,0.6,warm,2016-05-31 00:00:00,07:30:00,...,87.87,5.21,4161.4,1700,54.6,8.68,1.26,86.38255,13.61745,3.645862
1531,2016,5,Missouri,MO,SERC,Central,0.6,warm,2016-05-24 00:00:00,08:00:00,...,70.44,13.83,2053.5,1510.1,26.6,2.99,0.8,98.615634,1.384366,1.384366
1532,2016,3,Washington,WA,WECC,Northwest,1.6,warm,2016-03-01 00:00:00,15:00:00,...,84.05,9.08,2380,1487.9,16.7,3.57,0.62,93.208786,6.791214,2.405397

# EDA Planning

For the EDA section, we plan to explore the distribution of power outage start times to identify any potential patterns. In addition, we plan to plot a line chart of the number of outages in each year to observe any trends.